<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%date{ISO8601} [%thread] %-5level %logger{36} - %msg %n
			</Pattern>
		</layout>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>TRACE</level>
		</filter>
	</appender>

  	<appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>c:/tmp/rest-demo/rest-demo.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
		    <!-- daily rollover -->
			<FileNamePattern>c:/tmp/rest-demo/archive/rest-demo.%d{yyyy-MM-dd}.log</FileNamePattern>
			
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>			
		</rollingPolicy>
 
		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</Pattern>
		</encoder> 	    
  	</appender>
  	<appender name="minuteRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
		    <!-- rollover every minute -->
			<FileNamePattern>c:/tmp/rest-demo/archive/minutes/rest-demo-minute.%d{yyyy-MM-dd_HH-mm}.log</FileNamePattern>
			
			<!-- keep 1 day worth of history -->
			<maxHistory>1</maxHistory>			
		</rollingPolicy>
 
		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</Pattern>
		</encoder> 	    
  	</appender>  	
  		
	<logger name="org.codingpedia" additivity="false">
	    <level value="DEBUG" />
		<appender-ref ref="dailyRollingFileAppender"/>
		<appender-ref ref="minuteRollingFileAppender"/>
		<appender-ref ref="consoleAppender" />
	</logger>

	<root>
		<level value="INFO" />
		<appender-ref ref="consoleAppender" />
	</root>
</configuration> 